.sub_container {
  box-shadow: inset -2px 1px 3px #0000003b;
}

.sub_container p {
  font-family: "Poppins", sans-serif;
}

.sub_container div span {
  font-family: "Poppins", sans-serif;
}

.sub_container span {
  font-family: "Radio Canada Big", sans-serif;
}

.sub_container button {
  font-family: "Poppins", sans-serif;
}
